


.navbar_container{
    background: #ddd;
    height: 50px;
}

.navbar-style{
    background: #ddd;
}

#navbarSupportedContent{
    background:#ddd;
    border-bottom:0px;
}

.heder_container {
    height: 80px;
}

.header_row {
    padding-top: 16px;
}

.header-search{
    width:100%;
    float: right;
}

.login_button{
    float: right;
    height: 36px;
    width: 90px;
    margin-top: 5px;
    background: #ddd;
    color: #000
}

.day_container {
    margin-top: 5px;
}

.desktom_view_menu_icon{
    font-size: 26px;
}

.top_news_heading{
   font-size: 18px;
   padding-top: 10px;
   line-height: 22px;
}

.top_news_description{
    font-size: 15px;
    padding: 0px 5px;
    line-height: 18px;
}


/* user login register css */



.card0 {
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}


.register_logo {
    margin-left: 22%;
    height: 50px;
}

.register_logo img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-left: 50%;
}

.socilate_login{
    display: flex;
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.linkedin {
    background-color: #DB4437;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #0C889E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 991px) {

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}